<!-- Page Header -->
<header class="intro-header" style="background-image: url('img/d16.jpeg')">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
               <h1>Tell us about your dog that deserves a home</h1>
               <hr class="small">
               <span class="subheading"></span>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- main content -->
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <form name="userForm" id="contactForm" novalidate>
         <!-- The basics -->
         <H2>The basics...</H2>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
               <md-input-container>
                  <label>dogName</label>
                  <input ng-model="ctrl.addDogData.name" type="text" class="form-control" placeholder="Dog's name" id="name" required data-validation-required-message="Please fill this out">
               </md-input-container>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
               <md-input-container>
                  <label>dogAge</label>
                  <input ng-model="ctrl.addDogData.age" type="integer" class="form-control" placeholder="Dog's age" id="name" required data-validation-required-message="Please fill this out">
               </md-input-container>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
               <md-input-container>
                  <label>dogBreed</label>
                  <input ng-model="ctrl.addDogData.breed" type="text" class="form-control" placeholder="Breed" id="breed" required data-validation-required-message="Please fill this out">
               </md-input-container>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <br>
         <!-- yes or no -->
         <H2>Please check yes or no...</H2>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls fontSize">
               <md-checkbox ng-model="ctrl.addDogData.experience" aria-label="Checkbox 0">
                  Is previous pet experience required?
               </md-checkbox>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls fontSize">
               <md-checkbox ng-model="ctrl.addDogData.childFriendly" aria-label="Checkbox 1">
                  Is this dog child friendly?
               </md-checkbox>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls fontSize">
               <md-checkbox ng-model="ctrl.addDogData.dogFriendly" aria-label="Checkbox 2">
                  Is this dog friendly with other dogs?
               </md-checkbox>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls fontSize">
               <md-checkbox ng-model="ctrl.addDogData.petFriendly" aria-label="Checkbox 3">
                  Is this dog pet friendly?
               </md-checkbox>
               <p class="help-block text-danger"></p>
            </div>
         </div>
         <br>
         <!-- scale of 1-5 -->
         <H2>On a scale from 1 to 5...</H2>
         <br>
         <div flex="100" layout layout-align="center center">
            <span class="md-body-12">How active is this dog?</span>
         </div>
         <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="ctrl.addDogData.active" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
         </div>
         <div flex="100" layout layout-align="center center">
            <span class="md-body-12">How much grooming does this dog require?</span>
         </div>
         <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="ctrl.addDogData.grooming" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
         </div>
         <div flex="100" layout layout-align="center center">
            <span class="md-body-12">How big is this dog (1 = small, 5 = very large)?</span>
         </div>
         <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="ctrl.addDogData.size" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
         </div>
         <div flex="100" layout layout-align="center center">
            <span class="md-body-12">How noisy is this dog?</span>
         </div>
         <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="ctrl.addDogData.noise" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
         </div>
         <br>
          <h4>Upload a picture of the dog</h4>
          <button class="button" ngf-select="upload($file)">Upload on file select</button>
        
          <br><br>
          File:
          <div style="font:smaller">{{ctrl.f.name}} {{ctrl.errFile.name}} {{ctrl.errFile.$error}} {{ctrl.errFile.$errorParam}}</div>
         <div id="success"></div>
         <div class="row">
            <div class="form-group col-xs-12">
               <md-button class="md-raised md-primary" ng-click="ctrl.addDogClick()">Submit</md-button>
            </div>
         </div>
      </div>
   </div>
   <hr>
</div>