<!-- header -->
<header class="intro-header" style="background-image: url('img/d19.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Your matches!</h1>
          <hr class="small">
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- main -->
<div class="post-preview" class="match-preview" ng-repeat="dog in $ctrl.dogs | orderBy: '-user_dog.score'">
  <header></header>
  <a href="" ui-sref="">
    <h2 class="post-title">
    <!-- dog pic -->
      <img class="dog-profile dogSize" ng-src="{{dog.imageLink}}">
      <!-- dog name and match score -->
        {{$index + 1}}.  {{ dog.name }} <span class="match">{{dog.user_dog.score}}%</span>
      </h2>
    <h3 class="post-subtitle">
      <!-- dog details -->
      A  <strong>{{dog.age}}</strong> year old {{dog.sex}} <strong>{{dog.breed}}</strong> who is
      <span ng-if="dog.childFriendly === false"><strong>not</strong></span> good with children,
      <span ng-if="dog.dogFriendly === false"><strong>not</strong></span> good with other dogs, and
      <span ng-if="dog.petFriendly === false"><strong>not</strong></span> good with small pets. <br>
      <span ng-if="dog.sex === 'male'">He </span><span ng-if="dog.sex === 'female'">She </span> is
      <span ng-if="dog.petFriendly === false">not</span> good with novice owners, does
      <span ng-if="dog.aloneFriendly === false"><strong>not</strong></span> tolerate with being alone, and can 
      <span ng-if="dog.weatherFriendly === false"><strong>not</strong></span> tolerate hot or cold weather.
      <br><br>
      <!-- more dog details -->
      <span ng-if="dog.sex === 'male'">His </span><span ng-if="dog.sex === 'female'">Her </span>
      <strong>size</strong> is {{dog.size}} out of 5.  
      <span ng-if="dog.sex === 'male'">His </span><span ng-if="dog.sex === 'female'">Her </span>
      <strong>activeness</strong> is {{dog.active}} out of 5.  
      <span ng-if="dog.sex === 'male'">His </span><span ng-if="dog.sex === 'female'">Her </span>
      <strong>grooming</strong> requirements are {{dog.grooming}} out of 5.  
      <span ng-if="dog.sex === 'male'">His </span><span ng-if="dog.sex === 'female'">Her </span>
      <strong>noise level</strong> is {{dog.noise}} out of 5.  
      <br>  
      <!-- dog location -->
      {{dog.name}} is at the <strong>{{dog.shelter.name}}</strong>, located at <strong>{{dog.shelter.address}}</strong>.
      </h3>
  </a>
  <p class="post-meta">{{}} {{}}</p>
  <hr>
</div>
