<p>
    <div flex-xl flex-gt-xl="50" layout="column">
      <md-card md-theme="{{'dark-blue'}}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ctrl.message.to.name}}</span>
            <span class="md-subhead">{{ctrl.message.message}}</span>
            <span class="md-subhead">{{ctrl.message.createdAt}}</span>
            <span class="md-subhead" ng-repeat="history in ctrl.history track by $index" histry="history">{{history}}</span>

            <md-button ng-click="ctrl.getHistory()" ng-if="ctrl.showTrue">show</md-button>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-input-container class="md-block">
          <label>input message</label>
          <textarea rows="5" md-select-on-focus ng-model="ctrl.text">{{ctrl.text}}</textarea>
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="ctrl.sendMessage(ctrl.text, ctrl.message.userId, ctrl.message.id)">Reply</md-button>
        </md-card-actions>
      </md-card>
    </div>
</p>
